@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

* {
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* HEADER  */
header {
  width: 100%;
  position: relative;
}

.logo {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-family: "Bebas Neue", cursive;
  position: absolute;
  padding-left: 5rem;
  padding-top: 0.5rem;
}

/* NAVIGATION  */
nav {
  width: 100%;
  height: 100%;
  background-color: #0f8792;
}

nav ul {
  display: flex;
  justify-content: right;
  list-style: none;
}

nav li {
  padding: 1em;
  text-align: center;
}

nav a {
  text-decoration: none;
  font-weight: 800;
  color: white;
  text-align: center;

}

nav a:hover {
  color: #B5E87B;
}

/* MAIN  */
/* LEFT SECTION  */
.intro-sentence {
  font-family: "Roboto Serif", sans-serif;
  color: gray;
  padding-left: 50vh;
  padding-top: 12vh;
}

.left-col {
  width: 70%;
  padding: 2vh;
}

.profile-img {
  width: 35%;
  float: left;
}

.april {
  color: purple;
  text-shadow: 1px 1px black;
}

.web-developer {
  color: rgb(15, 135, 146);
  text-shadow: 1px 1px black;
}

.material-icons-outlined {
  font-size: 30px;
}

.art-1 {
  padding: 20vh 10vh 5vh 10vh;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 800;
  color: rgb(71, 70, 70);
}

.art-2 {
  padding-left: 10vh;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 800;
  color: rgb(71, 70, 70);
  line-height: 3vh;
}

.art-title {
  color: rgb(15, 135, 146);
  text-shadow: 1px 1px black;
}

.art-2 ul {
  list-style: circle;
}

/* RIGHT SECTION  */
.right-col {
  width: 30%;
  background-color: lightgray;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  color: black;
  margin: 1rem;
  border-radius: 5%;
}

.nature-pic {
  width: 90%;
  border-radius: 10%;
}

.first-figure,
.second-figure {
  padding: 1rem;
}

/* FOOTER  */
footer {
  width: 100%;
  height: 100%;
  background-color: hsl(185, 81%, 32%);
  text-align: center;
  color: white;
  font-family: "Bebas Neue", cursive;
  padding: 0.1em 0 1em 0;
}
