@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

@media {
  body {
    background-color: #282828;
    color: white;
  }

  section h2 {
    color: #4ffbdf;
    text-shadow: 0.5px 0.5px white;
    text-align: center;
    font-size: 45px;
    padding-bottom: 3%;
    font-family: 'Titillium Web', sans-serif;

  }
  .skills,
  .education,
  .contact {
    padding: 5%;
  }

  /* SKILLS  */

  .skills {
    text-align: center;
  }

  .skills h3 {
    font-weight: 600;
    color: #a386fa;
  }

  .skills article {
    padding-top: 3%;
    padding-bottom: 10%;
  }

  .hard-skills img {
    width: 30%;
    padding: 1%;
  }

  .soft-skills p {
    font-size: 1.3em;
  }

  

  /* EDUCATION  */

  .card {
    background-color: #282828;
    text-align: center;
    color: white;
    padding-bottom: 2%;
  }

  .btn {
    background-color: #240090;
    color: white;
  }

  .btn:visited {
    color: white;
  }

  .tam-card {
    background-color: white;
  }


  /* CONTACT  */

  .mint {
    color: #4ffbdf;
  }

  .contact div {
    padding: 1%;
  }

  .contact div:not(:last-child) {
    display: flex;
    flex-direction: column;
  }

  .contact div:not(:last-child) > input {
    padding: 2%;
  }

  .contact div:last-child {
    padding: 3% 0%;
    width: 100%;
    text-align: center;
  }

  .contact div:last-child > input {
    padding: 2%;
    width: 30%;
  }

  .contact textarea {
    padding: 2%;
  }

  /* FOOTER  */
  footer {
    background-color: #240090;
    padding: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  footer div {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding-bottom: 2%;
  }
}
