@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

@media (min-width:300px) {
  body {
    background-color: #282828;
    color: white;
  }

  section h2 {
    color: #4ffbdf;
    text-shadow: 0.5px 0.5px white;
    text-align: center;
    font-size: 45px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Titillium Web', sans-serif;
  }

  .skills,
  .education,
  .contact {
    padding: 5%;
  }

  h3 {
    font-weight: 600;
    color: #a386fa;
  }

  hr {
    border: 2px solid ;
    opacity: 1;
    width: 100%;
    color: #4ffbdf;
  }

  /* ABOUT ME  */
  .aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
  }

  .aboutme img {
    width: 95%;
    display: none;
  }

  .aboutme p {
    text-align: justify;
    padding-bottom: 5%;
  }



  /* HEADER  */

  header {
    background-image: url("/Images/header-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  header div {
    width: 80%;

    position: absolute;
  }

  .header-2nd-sentence {
    display: none;
  }

  .header p {
    font-size: 45px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1;
  }

  .web-developer {
    font-size: 35px;
    color:#a386fa;
    text-shadow: 1px 1px white;
  }



  /* PROJECTS  */

  .projects {
    color: white;
    padding: 5%;
    /* display: flex;
    flex-direction: column;
    row-gap: 7vh; */
  }
  
  .project-list {
    padding-bottom: 10%;
  }

  .project-list aside {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    
    padding: 0;
    overflow: hidden;
    position: relative;
  }

  .project-list .project-content {
    width: 50vh;
    height: 30vh;
    padding: 2%;

    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }

  .project-list .project-content:hover   {
    opacity: 1;
    transform: translate(0);
  }

  .project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-list h6 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .project-content a {
    background-color: #240090;
    color: white;
    width: 50%;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }

  
  .project-pic {
    width: 50vh;
    height: 30vh;
  }




  /* SKILLS  */

  .skills {
    text-align: center;
  }



  .skills article {
    padding-top: 3%;
    padding-bottom: 10%;
  }

  .hard-skills img {
    width: 30%;
    padding: 1%;
  }

  .soft-skills p {
    font-size: 1.3em;
  }

  

  /* EDUCATION  */

  .card {
    background-color: #282828;
    text-align: center;
    color: white;
    padding-bottom: 2%;
  }


  .btn {
    background-color: #240090;
    color: white;
    border-radius: 5px;
  }

  .btn:visited {
    color: white;
  }

  .tam-card {
    background-color: white;
  }


  /* CONTACT  */

  .mint {
    color: #4ffbdf;
  }

  .contact div {
    padding: 1%;
  }

  .contact div:not(:last-child) {
    display: flex;
    flex-direction: column;
  }

  .contact div:not(:last-child) > input {
    padding: 2%;
    border-radius: 5px;
  }

  .contact div:last-child {
    padding: 3% 0%;
    width: 100%;
    text-align: center;
  }

  .contact div:last-child > input {
    padding: 2%;
    width: 30%;
    border-radius: 5px;

  }
  
  .contact textarea {
    padding: 2%;
    border-radius: 5px;
  }

  /* FOOTER  */
  footer {
    background-color: #240090;
    padding: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  footer div {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding-bottom: 4%;
  }
}

@media (min-width:700px) {

  
  section h2 {
    font-size: 90px;
  }

  .contact :not(h2), .education :not(h2) {
    font-size: 30px;
  }

  .skills h3, .aboutme h3 {
    font-size: 50px;
  }

  /* HEADER  */
  .header p {
    font-size: 86px;
  }
  
  .web-developer {
    font-size: 67px;
  }


  /* PROJECTS  */

  .project-list h6, p {
    font-size: 30px;
  }

  .project-list a {
    font-size: 25px;
  }


  /* SKILLS  */

  .soft-skills p {
    font-size: 40px;
  }


  /* FOOTER  */
  footer {
    font-size: 30px;
  }

  footer img {
    width: 50px;
  }
}
