@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #282828;
  color: white;
}


@media (min-width:300px) {
  
  /* NORMALIZE  */
  section > h2 {
    color: #4ffbdf;
    text-shadow: 0.5px 0.5px white;
    text-align: center;
    padding-top: 3%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
  }
  
   h3 {
      font-weight: 600;
      color: #a386fa;
    }
  
   hr {
      border: 2px solid #4ffbdf;
      opacity: 1;
      width: 100%;
    }

   nav {
     display: none;
     height: 0;
    }


  .skills,
  .education,
  .contact {
    padding: 5%;
  }

  /* ABOUT ME  */

  #aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
  }

  .aboutme img {
    width: 95%;
    display: none;
  }

  .aboutme p {
    text-align: justify;
    padding-bottom: 5%;
  }


  /* HEADER  */

  #header {
    background-image: url("/Images/header-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  header div {
    width: 80%;
    position: absolute;
  }

  .header-1st-sentence {
    font-size: 45px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1;
  }

  .header-2nd-sentence {
    display: none;
  }

  .web-developer {
    font-size: 35px;
    color:#a386fa;
    text-shadow: 1px 1px white;
  }

  /* PROJECTS  */

  #projects {
    color: white;
    padding: 5%;
  }
  
  .project-list {
    padding-top: 5%;
  }

  .project-list aside {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    
    padding: 0;
    overflow: hidden;
    position: relative;
  }

  .project-list .project-content {
    width: 80%;
    height: 40vh;
    padding: 2%;

    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.4s ease-in-out;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-list .project-content:hover   {
    opacity: 1;
    transform: translate(0);
  }

  .project-list h6 {
    font-size: 2.2vh;
    font-weight: 600;
  }

  .project-list p {
    font-size: 1.9vh;
  }

  .project-content a {
    background-color: #240090;
    color: white;
    width: 80%;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5vh;
  }

  .project-pic {
    width: 80%;
    height: 40vh;
  }

  /* SKILLS  */

  #skills {
    text-align: center;
  }

  .skills article {
    padding-top: 3%;
    padding-bottom: 10%;
  }

  .hard-skills img {
    width: 30%;
    padding: 1%;
  }

  .soft-skills p {
    font-size: 1.3em;
  }

  
  /* EDUCATION  */

  .card {
    background-color: #282828;
    text-align: center;
    color: white;
    padding-top: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn {
    background-color: #240090;
    color: white;
    border-radius: 5px;
  }

  .btn:visited {
    color: white;
  }

  .tam-card, .KGU-card {
    background-color: white;
    width: 80%;
  }


  /* CONTACT  */

  .mint {
    color: #4ffbdf;
  }

  .contact form {
    padding-top: 5%;
  }

  .contact div {
    padding: 1%;
  }

  .contact div:not(:last-child) {
    display: flex;
    flex-direction: column;
  }

  .contact div:not(:last-child) > input {
    padding: 2%;
    border-radius: 5px;
  }

  .contact div:last-child {
    padding: 3% 0%;
    width: 100%;
    text-align: center;
  }

  .contact div:last-child > input {
    padding: 2%;
    width: 30%;
    border-radius: 5px;
  }
  
  .contact textarea {
    padding: 2%;
    border-radius: 5px;
  }

  /* FOOTER  */

  footer {
    background-color: #240090;
    padding: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  footer div {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding-bottom: 4%;
  }
}

@media (min-width:700px) {

  /* NORMALIZE  */
  section h2 {
    font-size: 60px;
  }

  .contact :not(h2), .education :not(h2) {
    font-size: 30px;
  }

  .skills h3, .aboutme h3 {
    font-size: 40px;
  }

  /* NAVIGATION  */

  nav {
    display: none;
  }

  /* HEADER  */
  .header-1st-sentence {
    font-size: 60px;
  }
  
  .web-developer {
    font-size: 67px;
  }


  /* PROJECTS  */
  
  .project-basket {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project-list {
    width: 50%;
  }

  .project-list h6, p {
    font-size: 20px;
  }

  .project-list a {
    font-size: 15px;
  }


  /* SKILLS  */

  .soft-skills p {
    font-size: 40px;
  }

  /* EDUCATION  */
  .card-basket {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 50%;
  }

  /* CONTACT  */

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact form {
    width: 80%;
  }

  /* FOOTER  */
  footer {
    font-size: 30px;
  }

  footer img {
    width: 50px;
  }
}

@media (min-width:1000px) {

  /* NAVIGATION  */
  nav {
    width: 100%;
    height: 6vh;
    background-color:#240090;
    position: fixed;
    z-index: 1;
  }
  
  nav ul {
    z-index: 1;
    margin: 0%;
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vh;
    justify-content: space-around;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 25px;
  }

  nav a:hover {
    color:#4ffbdf;
  }

  /* HEADER  */
  .header-2nd-sentence {
    display: block;
    font-size: 20px;
    color: white;
    font-family: 'Titillium Web', sans-serif;

  }

  /* ABOUT ME  */

  .aboutme-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .aboutme img {
    display: block;
    width: 30%;
  }

  .aboutme-article {
    width: 60%;
    padding-top: 3%;
  }

  .aboutme h3 {
    font-size: 27px;
  }

  .aboutme p {
    font-size: 20px;
    }

  /* SKILLS  */

  .skills-basket {
    display: flex;
    justify-content: space-between;
  }

  .hard-skills, .soft-skills {
    width: 45%;
  }

  .hard-skills img:hover, .soft-skills p:hover {
    transform: scale(1.5,1.5);
  }

  .hard-skills img {
    width: 30%;
  }

  .soft-skills p {
    font-size: 36px;
  }

  /* EDUCATION  */
  .card-basket {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 45%;
  }

  /* CONTACT  */

  .contact form {
    width: 60%;
  }

}

@media (min-width:1200px) {
  .header-2nd-sentence {
    font-size: 30px;
  }
}

@media (min-width:1500px) {

  #header {
    height: 93vh;
  }

  .hard-skills img {
    width: 19%;
    padding: 1%;
  }

  .hard-skills div {
    padding-top: 10%;
  }

  .contact form {
    width: 40%;
  }
}
