
/* ALL PAGES  */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: #000080;
  width: 80%;
}

nav ul {
  height: 5vh;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #C5FCEF;
  font-weight: 700;
  font-size: large;
  font-family:'Fredoka', sans-serif;;
}

nav a:hover {
  color: #f3b122 ;
}


main {
  width: 80%;
}

footer {
  width: 80%;
  height: 4vh;
  background-color: #000080;
  color: #C5FCEF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Fredoka', sans-serif;
}

.page-color {
  color: #C5FCEF;
  font-weight: 100;
}

/* HOME PAGE  */
/* HEADER  */

header {
  width: 80%;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: relative;
  z-index: 0;
}

header h1 {
  position: absolute;
  z-index: 1;
  color: #000080;
  font-family:'Fredoka', sans-serif;
  text-shadow: 1px 1px white;
  font-size: 45px;
}

/* HOME PAGE  */
/* MAIN  */

.home-main section {
  background-color: #d9f8f1;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.top-sec article {
  text-align: center;
  font-size: larger;
}

.top-sec h2, .middle-sec h2, .bottom-sec h2 {
  margin-bottom: 2%;
  font-size: x-large;
  font-weight: 1100;
  color: #000080;
  text-shadow: 1px 1px white;
  text-align: center;
}

.middle-sec article { 
  display: flex;
  justify-content: space-evenly;
}

.middle-sec img {
  width: 20vw;
  height: 20vh;
  border-radius: 7px;
}

.middle-sec h2, .middle-sec figcaption {
  text-align: center;
}

.bottom-small-sec {
  display: flex;
  justify-content: space-evenly;
  text-align: justify;
}

.bottom-small-sec article {
  margin: 1%;
  background-color: white;
  padding: 2%;
  width: 100%;
}

.readmore-bar {
  background-color: #000080;
  margin-top: 4%;
  padding: 2%;
  color: #C5FCEF;
  display: flex;
  justify-content: space-between;
}

.readmore-bar a {
  text-decoration: none;
  color: #C5FCEF;
}

/* ABOUT PAGE  */
/* HEADER  */

header > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: relative;
  z-index: 0;
}

/* ABOUT PAGE  */
/* MAIN  */

.about-main {
  display: flex;
  justify-content: space-evenly;
  text-align: justify;
}

.about-main h2 {
  margin-bottom: 4%;
  color: #000080;
  text-shadow: 1px 1px white;
}

.about-main section {
  margin: 2%;
  background-color: #daf5ef;
  padding: 3%;
}

.about-main img {
  float: left;
  margin: 5% 5% 5% 0%;
  width: 30%;
}

/* TABLE PAGE  */
/* HEADER  */

.table-header {
  background-color: rgb(241, 173, 24);
}

/* TABLE PAGE  */
/* MAIN  */


tr, th, td { 
  padding: 1%; 
}

th {
  background-color: #f3b122;
}

tfoot td {
  font-weight: 600;
}

.table-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  color: #000080;
  text-shadow: 1px 1px white;
}

.cost-table {
  margin: 3%;
  width: 100%;
}

.cost-table, th, td {
  border:1px solid rgb(204, 204, 204);
  border-collapse: collapse;
}

.pointer {
  cursor: pointer;
}

/* CONTACT PAGE  */
/* HEADER  */

.contact-header {
  border: 3px solid orange;
}

/* CONTACT PAGE  */
/* MAIN  */

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="time"]
{
  font-size: 18px;
  line-height: 1.5;
  width: 100%;
  border: 0px;
  padding: 1%;
}


input[type="submit"],
input[type="reset"]
{
 
  font-size: 18px;
  line-height: 1.5;
  width: 30%;
  padding: 2%;
  border: 0px;
  background-color: #000080;
  color: #f3b122;
  margin: 1%;
  font-weight: 600;
}

select, textarea {
  font-size: 18px;
  line-height: 1.5;
  width: 100%;
  border: 0px;
  padding: 1%;
}

label {
  font-weight: 800;
  color:#000080;
}

.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-section {
  background-color:#f3b122;
  border-radius: 7px;
  margin: 3%;
  padding: 3%;
  width: 50%;
}

.contact-main h2 {
  text-align: center;
  color: #000080;
  text-shadow: 1px 1px white;
}


.contact-main ul {
  list-style: none;
  border: 1px solid lightgray;
  margin: 3%;
  padding: 3%;
  background-color: rgb(238, 234, 234);
}

.contact-main li {
  margin: 3%;
}


.submit-ul li {
  display: flex;
  justify-content: center;
}

::placeholder {
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

